body {
  background-image: url('images/Sans.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  overflow-x: hidden;
  /* background-size: cover; */
}

nav {
  font-size: larger;
}

.name {
  position: fixed;
  left: 14%;
  top: 48%;
}

.job {
  position: fixed;
  top: 48%;
  right: 15.5%;
}

.dash {
  color: transparent;
}

.tag {
  display: none;
}

@media screen and (max-width : 992px) {
  .name {
    display: none;
  }
  .job {
    display: none;
  }
  .tag {
    display: inline;
    font-size: larger;
  }
}

.mariage {
  width: 150px;
}

.grossesse {
  width: 150px;
}

.baby {
  width: 150px;
}

.famille {
  width: 150px;
}

.bapteme {
  width: 150px;
}

.couple {
  width: 150px;
}

.gallery2 {
  position: absolute;
  right: 5%;
}

.gallery {
  position: absolute;
  left: 5%;
}